STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/arm64-v8a/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/armeabi-v7a/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/x86/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/x86_64/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/arm64-v8a/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/armeabi-v7a/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/x86/configure_fingerprint.bin
STREAMBUILDER/android/app/.cxx/RelWithDebInfo/3t5r5p36/x86_64/configure_fingerprint.bin
